### Recommender Systems

A recommender system is a simple algorithm whose aim is to provide the most relevant information to a user by discovering patterns in a dataset. The algorithm rates the items and shows the user the items that they would rate highly. An example of recommendation in action is when you visit Amazon and you notice that some items are being recommended to you or when Netflix recommends certain movies to you. They are also used by Music streaming applications such as Spotify and Deezer to recommend music that you might like. 

***

#### Collaborative filtering recommender systems

In collaborative filtering the behavior of a group of users is used to make recommendations to other users. Recommendation is based on the preference of other users. A simple example would be recommending a movie to a user based on the fact that their friend liked the movie.

***

<img src="images\recom.png" width="450">

In [363]:
#importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import keras
import warnings
warnings.filterwarnings('ignore')

#### MovieLens 1M Dataset

The dataset contains 1,000,209 anonymous ratings of approximately 3,900 movies 
made by 6,040 MovieLens users who joined MovieLens in 2000.

In [364]:
# Importing the dataset
movies = pd.read_csv('ml-1m/movies.dat', sep='::', header=None, engine='python', encoding='latin-1',
                     names=['movie_id', 'title', 'category'])
users = pd.read_csv('ml-1m/users.dat', sep='::', header=None, engine='python', encoding='latin-1',
                    names=['user_id', 'gender', 'age', 'user_job_id', 'zip_code'])
ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', header=None, engine='python', encoding='latin-1',
                      names=['user_id', 'movie_id', 'rating', 'timestamp'])

In [365]:
print('Movies')
print(movies.head(5))
print('\nUsers')
print(users.head(5))
print('\nRatings')
print(ratings.head(5))

Movies
   movie_id                               title                      category
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

Users
   user_id gender  age  user_job_id zip_code
0        1      F    1           10    48067
1        2      M   56           16    70072
2        3      M   25           15    55117
3        4      M   45            7    02460
4        5      M   25           20    55455

Ratings
   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

We need to pivot the ratings dataframe such that the rows are users, <br>
columns are movies and the values are the ratings

In [366]:
ratings_pivot=pd.pivot_table(ratings.iloc[:,[0,1,2]], index='user_id', columns='movie_id',
                             values='rating', fill_value=0)

In [367]:
ratings_pivot.head(5)

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user_id,,,,,,,,,,,,,,,,,,,,,
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [368]:
#splitting the data into training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(ratings_pivot, train_size=0.8)

In [369]:
print(f'X_train shape is {X_train.shape}\nX_test shape is {X_test.shape}')

X_train shape is (4832, 3706)
X_test shape is (1208, 3706)

### Auto Encoder

Autoencoders (AE) are neural networks that aim to copy their inputs to their outputs. They work by compressing the input into a latent-space representation, and then reconstructing the output from this representation. This kind of network is composed of two parts :

Encoder: This is the part of the network that compresses the input into a latent-space representation.

Decoder: This part aims to reconstruct the input from the latent space representation. 

***

<img src="images\architecture.png">

***

#### What are autoencoders used for ?

Today data denoising and dimensionality reduction for data visualization are considered as two main interesting practical applications of autoencoders. 
In our current use-case we are using an Autoencoder to learn complex underlying patterns in the data.

***

<img src="images\example.png">

***
#### Structure of Auto Encoder

Architecturally, the Autoencoder is a neural network having an input layer, hidden layers and an output layer. The output layer has the same number of neurons as the input layer for the purpose of reconstructing it’s own inputs. A compressed representation of the data is formed in the hidden layers by learning correlations in the data.
An Autoencoder is a form of unsupervised learning, which means no labelled data are necessary — only a set of input data instead of input-output pairs.
***
<img src="images\autoencoder.png" width="650">

In [370]:
#Auto Encoder
from keras.layers import Input, Dense
from keras.models import Model, Sequential

input_data= Input(shape=(3706,))
encoded = Dense(units=256, activation='relu')(input_data)
encoded = Dense(units=64, activation='relu')(encoded)
encoded = Dense(units=16, activation='relu')(encoded)
decoded = Dense(units=64, activation='relu')(encoded)
decoded = Dense(units=256, activation='relu')(decoded)
decoded = Dense(units=3706, activation='sigmoid')(decoded)

autoencoder=Model(input_data, decoded)
autoencoder.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_8 (InputLayer)         (None, 3706)              0
_________________________________________________________________
dense_45 (Dense)             (None, 256)               948992
_________________________________________________________________
dense_46 (Dense)             (None, 64)                16448
_________________________________________________________________
dense_47 (Dense)             (None, 16)                1040
_________________________________________________________________
dense_48 (Dense)             (None, 64)                1088
_________________________________________________________________
dense_49 (Dense)             (None, 256)               16640
_________________________________________________________________
dense_50 (Dense)             (None, 3706)              952442
=================================================================
Total params: 1,936,650
Trainable params: 1,936,650
Non-trainable params: 0
_________________________________________________________________

In [371]:
autoencoder.compile(optimizer='adam', loss='mse')
history=autoencoder.fit(X_train, X_train, epochs=15, batch_size=100, shuffle=True, 
                validation_data=(X_test, X_test))

Train on 4832 samples, validate on 1208 samples
Epoch 1/15
4832/4832 [==============================] - 9s 2ms/step - loss: 0.5767 - val_loss: 0.5362
Epoch 2/15
4832/4832 [==============================] - 8s 2ms/step - loss: 0.5245 - val_loss: 0.5124
Epoch 3/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.5064 - val_loss: 0.5005
Epoch 4/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4931 - val_loss: 0.4873
Epoch 5/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4792 - val_loss: 0.4756
Epoch 6/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4699 - val_loss: 0.4693
Epoch 7/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4645 - val_loss: 0.4663
Epoch 8/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4609 - val_loss: 0.4653
Epoch 9/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4581 - val_loss: 0.4632
Epoch 10/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4557 - val_loss: 0.4619
Epoch 11/15
4832/4832 [==============================] - 8s 2ms/step - loss: 0.4536 - val_loss: 0.4615
Epoch 12/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4520 - val_loss: 0.4610
Epoch 13/15
4832/4832 [==============================] - 8s 2ms/step - loss: 0.4506 - val_loss: 0.4609
Epoch 14/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4496 - val_loss: 0.4607
Epoch 15/15
4832/4832 [==============================] - 7s 1ms/step - loss: 0.4481 - val_loss: 0.4610

In [414]:
sample=X_test
sample.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user_id,,,,,,,,,,,,,,,,,,,,,
5441,4,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3367,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
569,0,0,0,0,0,0,5,0,0,0,...,0,0,3,0,0,0,0,0,0,0
5909,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [373]:
#make predictions
pred=autoencoder.predict(sample)

In [374]:
#converting predictions to ratings
fin_pred=(pred*5).round(2)
fin_pred

array([[5.  , 3.59, 0.34, ..., 0.  , 0.  , 0.15],
       [4.53, 0.  , 0.01, ..., 0.  , 4.84, 4.81],
       [0.06, 0.  , 0.  , ..., 0.  , 0.  , 0.02],
       ...,
       [5.  , 4.99, 4.95, ..., 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.  ],
       [4.81, 0.  , 0.  , ..., 0.  , 0.01, 0.24]], dtype=float32)

In [450]:
#choosing a random user out of the test set
i=3
fin_pred[i]

array([5.  , 4.89, 4.83, ..., 0.  , 0.  , 0.  ], dtype=float32)

In [451]:
#creating a list of movie_ids with predicted rating equal to 5
recom=[]
for index,value in enumerate(fin_pred[i]):
    if value==5:
        recom.append(index+1)
print(recom)

[1, 11, 39, 148, 309, 330, 346, 347, 358, 487, 507, 526, 572, 573, 574, 575, 584, 652, 746, 1174, 1372, 1399, 1442, 1450, 1458, 1614, 1619, 1833, 2129, 2163, 2232, 2239, 2376, 2481, 2491, 2495, 2502, 2566, 2899, 2959, 3024]

In [457]:
#mapping movie_ids to movie names
recommended_movies=movies[movies.movie_id.isin(recom)]
print('Recommended Movies')
recommended_movies.head(15)

Recommended Movies

,movie_id,title,category
0,1,Toy Story (1995),Animation|Children's|Comedy
10,11,"American President, The (1995)",Comedy|Drama|Romance
38,39,Clueless (1995),Comedy|Romance
146,148,"Awfully Big Adventure, An (1995)",Drama
306,309,"Red Firecracker, Green Firecracker (1994)",Drama
326,330,Tales from the Hood (1995),Comedy|Horror
342,346,Backbeat (1993),Drama|Musical
343,347,Bitter Moon (1992),Drama
354,358,Higher Learning (1995),Drama
483,487,Lightning Jack (1994),Comedy|Western
503,507,"Perfect World, A (1993)",Action|Drama
522,526,"Savage Nights (Nuits fauves, Les) (1992)",Drama
568,572,Foreign Student (1994),Drama
569,573,"Ciao, Professore! (Io speriamo che me la cavo ...",Drama
570,574,Spanking the Monkey (1994),Comedy|Drama

In [459]:
#movies the user gave 5 star rating originally
original=(X_test.iloc[i][X_test.iloc[i]==5].index)
original=list(original)
originally_liked_movies=movies[movies.movie_id.isin(original)]
print('Movies the user gave 5 star rating originally')
originally_liked_movies

Movies the user gave 5 star rating originally

,movie_id,title,category
6,7,Sabrina (1995),Comedy|Romance
133,135,Down Periscope (1996),Comedy
376,380,True Lies (1994),Action|Adventure|Comedy|Romance
516,520,Robin Hood: Men in Tights (1993),Comedy
819,830,"First Wives Club, The (1996)",Comedy
826,837,Matilda (1996),Children's|Comedy
1007,1020,Cool Runnings (1993),Comedy
1132,1148,"Wrong Trousers, The (1993)",Animation|Comedy
1178,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
1401,1425,Fierce Creatures (1997),Comedy
2021,2090,"Rescuers, The (1977)",Animation|Children's
2184,2253,Toys (1992),Action|Comedy|Fantasy
2513,2582,Twin Dragons (Shuang long hui) (1992),Action|Comedy
2602,2671,Notting Hill (1999),Comedy|Romance
2819,2888,Drive Me Crazy (1999),Comedy|Romance
2983,3052,Dogma (1999),Comedy

Sources:
1. https://towardsdatascience.com/how-to-build-a-simple-recommender-system-in-python-375093c3fb7d
    
2. https://towardsdatascience.com/deep-autoencoders-for-collaborative-filtering-6cf8d25bbf1d
    
3. https://medium.com/@connectwithghosh/recommender-system-on-the-movielens-using-an-autoencoder-using-tensorflow-in-python-f13d3e8d600d